<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanstock</title>
</head>
<body style="background: #cfd6b2">
<h1>{{ item.short_name }} <img width="30" src="{{ url_for('static', filename='sparkle.png') }}"></h1>
<form>
    <div>
        <label for="currentQty">You have</label><br/>
        <input id="currentQty" value="{{ item.quantity }}" readonly/>
    </div>
    <br/>
    <h4>You got:</h4>
    <div>
        <label for="newQty">Amount</label><br/>
        <input id="newQty" name="newQty">
    </div>
    <br/>
    <div>
        <label for="newWeight">Weight in grams</label><br/>
        <input id="newWeight" name="newWeight">
    </div>
    <br/>
    {%  if item.weight_grams == none %}
        <div>
            <label for="findWeight"> Please weigh 5 items and enter the total grams</label><br/>
            <input id="findWeight" name="findWeight">
        </div>
    {% endif %}
    <br/>
    <div>
        <label for="changeReason">Change why?</label><br/>
        <select name="changeReason" id="changeReason"
                onchange="document.querySelector('#saleContext').hidden = this.value !== 'sale'">
            <option selected value="sale">Sale</option>
            <option value="restock">Restock</option>
            <option value="restock">Reconciliation</option>
        </select>
        <select name="saleContext" id="saleContext">
            {% for sale_context in active_sale_contexts %}
                <option value="{{ sale_context.id }}">{{ sale_context.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <input type="image" width="100" src="{{ url_for('static', filename='thumbs.png') }}"/>
</form>
<script>
    document.querySelector('form').onsubmit = (event) => {
        event.preventDefault();

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "quantity", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = () => {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                const audio = new Audio('/static/laugh.mp3');
                audio.play();
                audio.addEventListener('ended', () => location.reload())
            }
        };
        let context = document.getElementById('saleContext').value;
        let data = {
            weight: document.getElementById('newWeight').value,
            quantity: document.getElementById('newQty').value,
            context: document.getElementById('changeReason').value === 'sale' ? context : ''
        };
        let findWeight = document.getElementById('findWeight');
        if (findWeight && findWeight.value)
            data.weightForOne = parseInt(findWeight.value) / 5;

        xhr.send(JSON.stringify(data));
    }
</script>
</body>
</html>
