{% extends 'base.html' %}
{% block content %}
    <h1 class="homepage">Beanstock</h1>
    <h3>You have <span class="important-number">${{ total_value }}</span> in inventory.</h3>
    <br>
    <a href="/item/new">+ Add new item</a>
    <br>
    <br>
    <h3>Adjust inventory:</h3>
    <div class="item-type-container">
        {% for type in item_types %}
            <div class="item-type-block">
                <h4>{{ type.name }}</h4>
                {% for item in type.items | sort %}
                    <a href="/item/{{ item.id }}/adjust"
                        {% if item.quantity<10 %} style="color:#304D25" {% endif %}
                    >{{ item.quantity }} {{ item.short_name }}</a><br>
                {% endfor %}
            <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}