{% extends 'base.html' %}
{% block content %}
<form method="post">
    <h1>New Guys</h1>
    <br/>
    <div>
          <label for="itemType">What is he?</label><br/>
          <select name="itemType" id="itemType" required onchange="updateDefaults();">
            {% for itemType in item_types %}
                <option value="{{ itemType.id }}">{{ itemType.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <div>
        <label for="newItem">Item Name</label><br/>
        <input id="newItem" name="newItem" required>
    </div>
    <br/>
    <div>
        <label for="itemCost">How much did you pay for 1 item?</label><br/>
        $<input id="itemCost" name="itemCost" value="10">
    </div>
    <br/>
    <div>
        <label for="itemPrice">How much are you selling it for?</label><br/>
        $<input id="itemPrice" name="itemPrice">
    </div>
    <br/>
    <input type="submit" value="fin🐟">
</form>
{% endblock %}
{% block scripts %}
<script>
function updateDefaults() {
    let itemType = document.querySelector('#itemType').value;
     if (itemType == 1) {
        document.querySelector('#itemCost').value = 1;
        document.querySelector('#itemPrice').value = 25;
    }
    if (itemType == 3) {
        document.querySelector('#itemCost').value = .45;
        document.querySelector('#itemPrice').value = 5;
    }
    if (itemType == 4) {
        document.querySelector('#itemCost').value = 5;
        document.querySelector('#itemPrice').value = 10;
    }
}
</script>
{% endblock %}